{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"rules": {
		"complexity": "off",
		"indent": [
			"error",
			"tab"
		],
    "@typescript-eslint/no-empty-interface": "off"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	]
}
